@import url("https: //fonts. googleapis.com/css?family=Lora Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	background: rgb(238, 235, 221);
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'times';
	font-weight: bold;
}

.head h2 {
	color: white;
}

h2 {
	color: rgb(70, 17, 17);
}

a {
	text-decoration: none;
}